html {
     font-size: 62.5%;
}
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
    color: white;
    background-image: url("imagenes/Fondos\ De\ Aliens.jpeg");
    cursor: url("imagenes/maquina-de-tatuaje.png"), auto; 
    padding: 0;
    font-size: 16px;
}

header {
    background-color: #313131; 
    padding: 30px 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav {
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 3rem;
}

nav ul li a:hover {
    text-decoration: underline;
}

h1 {
    text-align: center;
    margin: 0;
    color: white;
    font-size: 6rem;
}

main {
    padding: 20px;
}

.photo-gallery {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2rem;
    margin-left: 25%;
    display: block;
}

.photo-gallery img {
    width: 30rem;
    max-width: 500;
    margin: 3rem 0;
    opacity: 1;
    transform: translateY(10rem);
    transition: opacity 3s, transform 2s;
    animation: fadeInUp 1s forwards;
    display: inline-block;
    
}

.info {
    text-align: center;
    margin: 20px 0;
    font-size: 2rem;
    color: rgb(0, 0, 0);
    background: rgb(231, 147, 99); opacity: 70%;
}

.info h2 {
    font-size: 8.8rem;
    
}

.contact-form {
    background: #15cac1;
    border-radius: 10px;
    padding: 20px;
    margin: 60px 0;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin: 7px 0 9px;
    font-size: 2.5rem;
}

.contact-form input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    background: #383636;
    color: rgb(255, 255, 255);
    font-size: 2rem;
}

.contact-form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #000;
    color: white;
    cursor: pointer;
    font-size: 2.4rem;
}

#thankyou-message {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}

.hidden {
    display: none;
}

.gifs {
    text-align: center;
    margin: 2rem;
}

.gifs img {
    width: 25rem;
    margin: 3rem;
}
.col-12 {
    font-size: 2rem;
}
.form-check {
    font-size: 2.2rem;
}
.patriciogif {
    width: 15rem;
    margin: 3rem;
    display: inline;
}
